@font-face {
    font-family:'Avenir Next';
    font-weight: 700;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
    src: url(../../assets/fonts/AvenirNextLTProBold.ttf);
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 600;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
    src: url(../../assets/fonts/AvenirNextLTProDemi.ttf);
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 400;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    src: url(../../assets/fonts/AvenirNextLTPro.ttf);
}

