@font-face {
    font-family:'Avenir Next';
<<<<<<< HEAD
    font-weight: 700;
=======

>>>>>>> develop
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
    src: url(../../assets/fonts/AvenirNextLTProBold.ttf);
}
@font-face {
    font-family:'Avenir Next';
<<<<<<< HEAD
    font-weight: 600;
=======

>>>>>>> develop
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
    src: url(../../assets/fonts/AvenirNextLTProDemi.ttf);
}
@font-face {
    font-family:'Avenir Next';
<<<<<<< HEAD
    font-weight: 400;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    src: url(../../assets/fonts/AvenirNextLTPro.ttf);
}

=======
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
    src: url(../../assets/fonts/AvenirNextLTPro.ttf);
}
>>>>>>> develop
