@font-face {
    font-family:'Avenir Next-Bold';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf)
}
@font-face {
    font-family:'Avenir Next-Demi';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf)
}
@font-face {
    font-family:'Avenir Next-Regular';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf)
}
@font-face {
    font-family:'Avenir Next-Bold-reserve';
    src: url(../../assets/fonts/AvenirNextLTProBold.ttf)
}
@font-face {
    font-family:'Avenir Next-Bold-reserve';
    src: url(../../assets/fonts/AvenirNextLTProDemi.ttf)
}
@font-face {
    font-family:'Avenir Next-Regular-reserve';
    src: url(../../assets/fonts/AvenirNextLTPro.ttf)
}