// Breakpoints
$tabletW: 768px;
$desktopW: 1280px;

// Colors
$brainflix-black: #323232;
$brainflix-blue:#0095ff;
$brainflix-silver:#afafaf;
$brainflix-white:#ffffff;
$brainflix-darkblack:#0d0d0d;
$brainflix-darkblue:#0d65ad;
$brainflix-mercury:#e1e1e1;
$brainflix-alabaster:#fafafa;

// mobile - default variables
$regular:400;
$demi:600;
$bold:700;
$pageHeaderText:2.063rem;
$pageHeaderLH:2.75rem;



// tablet variables




// desktop variables