// Breakpoints
$tabletW: 768px;
$desktopW: 1280px;

// Colors
$brainflix-black: #323232;
$brainflix-blue:#0095ff;
$brainflix-silver:#afafaf;
$brainflix-white:#ffffff;
$brainflix-darkblack:#0d0d0d;
$brainflix-darkblue:#0d65ad;
$brainflix-mercury:#e1e1e1;
$brainflix-alabaster:#fafafa;

// mobile/default variables
$regular:400;
$demi:600;
$bold:700;
$padding-headlines: 1.5rem,0,1rem,0;
$mob-margin-side:0rem, 1rem,0rem, 1rem;
$button-height: 2.5rem;
$button-rad:.25rem;
$page-Header-Text:1.5rem;
$page-Header-LH:2rem;
$section-header-text:.75rem;
$section-header-LH:1.25rem;
$subheader-text:.813rem;
$subheader-LH: 1.125rem;
$body-text:.813rem;
$body-LH: 1.125rem;
$label-button-text: .625rem;
$label-button-LH:1.25rem;
$avatar-border-rad: 50%;
$mob-avatar-size:2.25rem;



// tablet variables
$tab-padidng-headlines: 2.25rem, 0, 1.5rem,0;
$tab-button-min-width: 9.375rem;
$tab-margin-side:0, 2.25rem;
$tab-page-header-text:2.063rem;
$tab-page-header-LH:2.75rem;
$tab-subheader-text:.875rem;
$tab-subheader-LH: 1.375rem;
$tab-body-text:.875rem;
$tab-body-LH: 1.375rem;
$tab-label-button-text: .75rem;
$tab-label-button-LH:1.25rem;
$tab-avatar-size:2.5rem;



// desktop variables
$desk-margin-side:auto;