@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typogrophy' as *;

*{
    font-family: 'Avenir Next';
}
.Comments {
    margin: $mob-margin-side;
    font-size: $body-text;
    line-height: $body-LH;
    display: flex;
    border-bottom: $divider;
    padding-top: 1rem;

    &__header {
        margin: $mob-margin-side;
        font-size: $subheader-text;
        line-height: $subheader-LH;
        font-weight: $demi;
    }
    &__avatar {
        background: $brainflix-mercury;
        border-radius: $avatar-border-rad;
        width: $mob-avatar-size;
        height: $mob-avatar-size;
        margin-right: 1rem;
        @include tablet {
            width: $tab-avatar-size;
            height: $tab-avatar-size;
        }
    }
    &__info {
        width: 80%;
    }
    &__name-date {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        font-weight: $demi;

    }
    &__date {
        color: $brainflix-silver;
    }
}