@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typogrophy' as *;

.CurrentVideo{
    &__video {
        width: inherit;
        @include tablet {
            width: 100%;
        }
    }
    &__video-Container{
        display: flex;
        justify-content: center;
        background: $brainflix-darkblack;
        width:100%;
        @include tablet {
            padding: $tab-margin-side;
            width: auto;
        }
        @include desktop{
            padding: $desk-padding-side;
        }
    }
}